{{ $apiset := .Get 0 }}
{{ $naming := .Get 1 }}
{{ $nativesOld := getJSON "https://runtime.fivem.net/doc/natives.json" }}
{{ $nativesCfx := getJSON "https://runtime.fivem.net/doc/natives_cfx.json" }}
{{ $natives := merge $nativesOld $nativesCfx }}
{{ range $key, $value := $natives }}
{{ $list := "" }}
{{ $named := slice }}
{{ range $value }}
{{ $name := .name }}
{{ $sortName := .name | replaceRE "^_" "" }}
{{ if not $name }}
{{ $name = .hash }}
{{ $sortName = print "zzzz" .hash }}
{{ end }}
{{ if $naming = "lua" }}
{{ $name = $name | replaceRE "_([A-Z])" " $1" | lower | title | replaceRE " " "" | replaceRE "^0x" "N_0x" }}
{{ end }}
{{ $named = $named | append (dict "native" . "name" $name "sortName" $sortName )}}
{{ end }}
{{ range sort ($named) "sortName" }}
{{ if or (not $apiset) (or (eq .native.apiset "shared") (or (eq .native.apiset $apiset) (and (eq $apiset "client") (not .native.apiset)))) }}
{{ $list = print $list "* [" .name "](https://runtime.fivem.net/doc/natives/?_" .native.hash ")\n" }}
{{ end }}
{{ end }}
{{ if ne $list "" }}
{{ print "#### " $key }}
{{ print $list }}
{{ end }}
{{ end }}