<section class="steps-container">
  {{- range $index, $step := .Page.Pages -}}
    <div class="step">
      <a href="{{ $step.RelPermalink }}" class="step-content">
        {{- with $step.Params.image -}}
          <div class="step-image">
            <img src="{{ . }}" alt="{{ $step.Title }}">
          </div>
        {{- end -}}
        <div class="step-description">
          <div class="step-text-group">
            <div class="step-label">Step {{- add $index 1 -}}</div>
            <h3 class="step-title">{{- $step.Title -}}</h3>
            <p class="step-text">{{- $step.Description -}}</p>
          </div>
          <button class="btn btn-primary step-button">Read Now</button>
        </div>
      </a>
    </div>
  {{- end -}}
</section>
